{#- Variables & Macros -#}
{%- set km = ctx.knowledgeModel -%}
{%- set repliesMap = ctx.questionnaireReplies -%}

{#- Mapping KM & Replies (split to more files if needed) -#}
{#- TODO: write some mapping or traversing -#}

{#- Rendering (split to more files if needed) -#}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>Starter Template</title>
        <style>
            body { padding: 1em; }
            h1 { color: darkblue; }
        </style>
    </head>
    <body>
        <h1>Starter Template</h1>
    </body>
</html>
